# Database URL for PostgreSQL
DATABASE_URL="postgresql://ticket_service:ticket_service!2026%23Db9Xy@localhost:5432/ticket_service"

# Better Auth configuration
BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_SECRET=xPdSh1T0wuydiiTQupWDom7vz4D5t8ksmlWkAGzCCcA=
